
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inclusive+Sans:ital@0;1&family=REM:ital,wght@0,100..900;1,100..900&display=swap');


*{

  box-sizing: border-box;
  margin: 0;
      font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.section1{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.section1__degrade{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  position: absolute;
  z-index: -1;

}



.navbar1{
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 6%;
}

.nav__contimg1{
flex: 3;
margin-left: 10%;

}


a{
  text-decoration: none;
  color: white;
  flex: 1;
}

.section1__contimg1{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.fondoimg{
  width: 100%;
}

.section1__titulo1{
color: white;
font-size: 145px;
  font-weight: 600;
}

.section1__parrafo1{
  font-size: 48px;
  color: white;
  text-align: center;
    font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

.section1__btt1{
  width: 20%;
  height: 10%;
  margin: 5%;
  background-color: rgb(246, 211, 101);
  border: none;

  font-weight: bolder;
  font-size: 30px;
  color: rgb(51,51,51);
}




/*section 2*/


.section2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 211, 101);
  position: relative;
  align-items: center;
  justify-content: center;
}



.section2__cont1_textos{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;

}


.section2__titulo1{
  font-size: 78px;
  color: rgb(51, 51, 51);
}



.section2__parrafo1{
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  color: rgb(51, 51, 51);
  margin-top: 2%;
}


.cont2_cards{
  display: flex;
  width: 80%;
  height: 70%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section2__contimg{
  display: flex;
  width: 23%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;

}

.section2img{
  width: 100%;
}


.section2__subtitulo{
  font-size: 20px;
  margin-top: 10%;
}


.section3__btt1{
  width: 40%;
  height: 10%;
  margin-top: 10%;
  background-color: rgb(246, 211, 101);
  border: none;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(51,51,51);
}

.section3{
  display: flex;
    width: 100%;
  height: 100vh;
  background-color: rgb(51,51,51);
    position: relative;
}


.section3__contimg1{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section3img1{
  width: 60%;
}


.section3_conttexto{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  color: white;

  justify-content: center;

}

.section3__titulo1{
  font-size: 75px;
}

.section3__parrafo1{
  font-size: 30px;
  font-weight: 200;
  margin-top: 5%;
}

.section4{
    width: 100%;
  height: 100vh;
  background-color: rgb(246, 211, 101);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(51, 51, 51);
}

.section4__titulo1{
  font-size: 75px;
  margin-top: 5%;
}

.section4__parrafo1{
  font-size: 30px;
  text-align: center;
  font-weight: 300;

}





.section4__contcards{
  width: 100%;
  height: 70%;
  display: flex;
  color: rgb(51, 51, 51);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.section4__cuadro{
  border: solid 12px rgb(51, 51, 51);
  width: 19%;
  height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.cuadro__titulo{
  color: rgb(51, 51, 51);
  font-size: 75px;
}

.cuadro__parrafo{
  color: rgb(51, 51, 51);
  font-size: 30px;
}



.section5{
  display: flex;
    width: 100%;
  height: 100vh;
  background-color: rgb(51,51,51);
    position: relative;
    
}

.section5__cont1{
  width: 35%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  justify-content: center;

}

.section5__titulo1{
  font-size: 75px;
}

.section5__parrafo1{
  font-size: 30px;
  font-weight: 100;
  margin-top: 10%;
}

.section5__btt1{
  width: 50%;
  height: 7%;
margin-top: 10%;
  background-color: rgb(246, 211, 101);
  border: none;

  font-weight: bolder;
  font-size: 20px;
}

.section5__contimg{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section5img{
  width: 60%;
}

.section6{
  display: flex;
    width: 100%;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section6__contimgfondo{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.section6__imgfondo{
  width: 100%;
  height: 100%;
  opacity: 15%;
}

.section6__degrade{

  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

}


.section6__contimg1{
    width: 15%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section6__img1{
  width: 100%;
}



.section6__parrafo1{
  font-size: 40px;
  font-weight: 200;
  text-align: center;
    margin-top: 8%;
}

.section6__parrafo2{
    font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
}


.section7{
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 211, 101);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section7__titulo1{
  font-size: 70px;
  margin-bottom: 3%;
}

.section7__parrafo1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 1%;
}

.section7__continput{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;

}

.section7__input{
  border: none;
  width: 40%;
  height: 41%;
  font-size: 23px;
  font-weight: 200;
}

.section7__btt{
  border: none;
  color: white;
  background-color: rgb(34, 34, 34);
  height: 41%;
  width: 15%;
  font-size: 23px;
  font-weight: 500;
}


footer{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(48, 48, 48);
  color: white;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.footer__conttexto{
  font-size: 30px;
  font-weight: 250;
  line-height: 200%;
}

