
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Inclusive+Sans:ital@0;1&family=REM:ital,wght@0,100..900;1,100..900&display=swap');


*{

  box-sizing: border-box;
  margin: 0;
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
}

.section1{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('fondo1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.section1__degrade{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  position: absolute;


}



.navbar1{
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 6%;
  z-index: 2;
}

.nav__contimg1{
  width: 10%;
flex: 1;
margin-left: 5%;

}


.section1__enlaces{
  display: flex;
  width: 50%;
  flex: 6;

  align-items: center;
}

a{
  text-decoration: none;
  color: white;
  flex: 1;

}



.fondoimg{
  width: 100%;
}

.section1__titulo1{
color: white;
font-size: 145px;
  font-weight: 600;
  z-index: 2;
}

.section1__parrafo1{
  font-size: 48px;
  color: white;
  text-align: center;
    font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  z-index: 2;
}

.section1__btt1{
  width: 20%;
  height: 10%;
  margin: 5%;
  background-color: rgb(246, 211, 101);
  border: none;

  font-weight: bolder;
  font-size: 30px;
  color: rgb(51,51,51);
  z-index: 2;
}




/*section 2*/


.section2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  
  background-image: url('imgfondo1.png');
  position: relative;
  align-items: center;
  justify-content: center;
}



.section2__cont1_textos{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;

}


.section2__titulo1{
  font-size: 78px;
  color: rgb(51, 51, 51);
}



.section2__parrafo1{
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  color: rgb(51, 51, 51);
  margin-top: 2%;
}


.cont2_cards{
  display: flex;
  width: 80%;
  height: 70%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section2__contimg{
  display: flex;
  width: 23%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;

}

.section2img{
  width: 100%;
}


.section2__subtitulo{
  font-size: 20px;
  margin-top: 10%;
}




.section3{
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('fondob.png');
  position: relative;

}

.section3__btt1{
  width: 40%;
  height: 10%;
  margin-top: 10%;
  background-color: rgb(246, 211, 101);
  border: none;
  font-weight: bolder;
  font-size: 30px;
  color: rgb(51,51,51);
}

.section3__contimg1{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section3img1{
  width: 60%;
}


.section3_conttexto{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  color: white;
  justify-content: center;

}

.section3__titulo1{
  font-size: 75px;
}

.section3__parrafo1{
  font-size: 30px;
  font-weight: 200;
  margin-top: 5%;
}

.section4{
    width: 100%;
  height: 100vh;
  background-image: url('imgfondo1.png');
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(51, 51, 51);
}

.section4__titulo1{
  font-size: 75px;
  margin-top: 5%;
}

.section4__parrafo1{
  font-size: 30px;
  text-align: center;
  font-weight: 300;

}





.section4__contcards{
  width: 100%;
  height: 70%;
  display: flex;
  color: rgb(51, 51, 51);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.section4__cuadro{
  border: solid 12px rgb(51, 51, 51);
  width: 19%;
  height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.cuadro__titulo{
  color: rgb(51, 51, 51);
  font-size: 75px;
}

.cuadro__parrafo{
  color: rgb(51, 51, 51);
  font-size: 30px;
}



.section5{
  display: flex;
    width: 100%;
  height: 100vh;
  background-image: url('fondoc.png');
    position: relative;
    
}

.section5__cont1{
  width: 35%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  justify-content: center;

}

.section5__titulo1{
  font-size: 75px;
}

.section5__parrafo1{
  font-size: 30px;
  font-weight: 100;
  margin-top: 10%;
}

.section5__btt1{
  width: 50%;
  height: 7%;
  margin-top: 10%;
  background-color: rgb(246, 211, 101);
  border: none;

  font-weight: bolder;
  font-size: 20px;
}

.section5__contimg{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.section5img{
  width: 60%;
}

.section6{
  display: flex;
    width: 100%;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section6__contimgfondo{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.section6__imgfondo{
  width: 100%;
  height: 100%;
  opacity: 15%;
}

.section6__degrade{

  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

}


.section6__contimg1{
    width: 15%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section6__img1{
  width: 100%;
}



.section6__parrafo1{
  font-size: 40px;
  font-weight: 200;
  text-align: center;
    margin-top: 8%;
}

.section6__parrafo2{
    font-size: 55px;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
}


.section7{
  width: 100%;
  height: 100vh;
  background-image: url('fondod.png');
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section7__titulo1{
  font-size: 70px;
  margin-bottom: 3%;
}

.section7__parrafo1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 1%;
}

.section7__continput{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;

}

.section7__input{
  border: none;
  width: 40%;
  height: 41%;
  font-size: 23px;
  font-weight: 200;
}

.section7__btt{
  border: none;
  color: white;
  background-color: rgb(34, 34, 34);
  height: 41%;
  width: 15%;
  font-size: 23px;
  font-weight: 500;
}


footer{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(48, 48, 48);
  color: white;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.footer__conttexto{
  font-size: 30px;
  font-weight: 250;
  line-height: 200%;
}

@media(max-width:1440px)
{
  .footer__conttexto{
    font-size: 20px;
    font-weight: 250;
    line-height: 200%;
  }
}

@media(max-width:781px){

  .navbar1{
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.nav__contimg1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  margin-left: 0;
  margin-bottom: 10%;
}


.section1__titulo1{

  font-size: 50px;
  margin-top: 10%;
}

.section1__parrafo1{
font-size: 20PX;
}

.section1__btt1{
  width: 60%;
  height: 9%;
}


.section2__contimg{
  
  width: 28%;
  height: 100%;
}

.section2__contimg{
  
}
.section2__titulo1{
font-size: 40px;
}

.section2__parrafo1{
  font-size: 20px;
}

.section2__cont1_textos{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.section2__contimg{
  height: 50%;
}

.section2img{
  width: 100%;
}

a{
  margin-top: 1em;
  font-size: 15px;
}

.section1__enlaces{
  width: 100%;
  height: 5%;
}


.link__contact{
  margin-bottom: 1em;
}


.section2__cardtitulo{
  font-size: 15px;
}

.section2__subtitulo{
  font-size: 15px;
}

.section3{
  flex-direction: column;
}

.section3__contimg1{
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section3img1{
  width: 50%;
}

.section3_conttexto{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

  .section3__btt1{
  width: 55%;
  height: 15%;
  }

  .section4__titulo1{
    font-size: 45px;
  }
.section4__parrafo1{
font-size: 20px;
}

  .section4__contcards{
    flex-direction: column;
    margin-top: 15%;
  }


.section4__cuadro{
  margin-top: 2%;
    width: 55%;
  height: 30vh;
}

.section5{
  flex-direction: column;
}

.section5__cont1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
  margin-top: 15%;
}

.section5__contimg{
  width: 100%;

}

.section5img{
  width: 55%;
}


.section5__btt1{
  width: 65%;
  height: 15%;
  font-size: 18px;
  margin-top: 5%;
}


.section5__parrafo1{
font-size: 24px;
text-align: center;
}

.section5__titulo1{
  font-size: 50px;
}

.section6__contimg1{
  width: 100%;
  height: 40%;
}

.section6__img1{
  width: 200%;
}
.section6__parrafo1{
font-size: 30px;
}

.section7__titulo1{
  font-size: 40px;
  text-align: center;
}

.section7__parrafo1{
  font-size: 22px;
}

.section7__input{
  width: 60%;
  height: 30%;
}

.section7__btt{
  height: 30%;
  width: 30%;
  font-size: 18px;
}

.section6__contimg1{
  width: 25%;
  height: 25%;
}

footer{
  flex-direction: column;
  align-items: center;

}

.footer__conttexto{
  font-size: 15px;
  width: 100%;
}
}











